@use 'sass:map';

$breakpoints: (
  desktop: 1400px,
  tablet: 1096px,
  mobile: 670px
);


@media (max-width: map.get($breakpoints, mobile)) {
  .backblur {
    align-items: flex-start;
    width: 100vw;
    padding: 16px;
    max-height: 100dvh;
  }

  .map-departments {
    width: 100%;
    max-width: 393px;
    height: 0%;
    max-height: 100dvh;
    border-radius: 8px;
    margin: 0;
    top: 0px;
    
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    overflow: hidden;
    
    transition: all 0.5s ease-in-out;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      
      height: 100%;
    }
  }
}
