@media (max-width: 1000px){
   .hero4__title-text{
      font-size: 24px;

      &_blue{
         color: rgba(54, 122, 202, 1);
         font-weight: 800;
      }

      &_yellow{
         color: rgba(255, 175, 36, 1);
      }

      &_br{
            display: flex;
            flex-direction: column;
      }

      &_step{
         font-size: 22px;
         color: rgba(255, 255, 255, 1);
      }

      &_step-num{
         color: rgba(255, 255, 255, 1);
         font-size: 46px;
      }

      &_lower{
         font-size: 16px;
      }

      &_center{
         text-align: center;
      }
   }
}
