@use 'sass:map';

$breakpoints: (
  desktop: 1400px,
  tablet: 1096px,
  mobile: 670px
);

@media (max-width: map.get($breakpoints, desktop)) {
  .map-departments {
    &.active {
      width: 1080px;
    }

    &__map{
        width: 800px;
    }
  }
}

@media (max-width: map.get($breakpoints, tablet)) {
  .map-departments {
    width: 100%;
    max-width: 640px;
    height: auto;
    max-height: 80vh;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    margin: 16px;

    &.active{
      height: unset;
    }

    &__map {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }

    &__menu {
      width: 328px;
      padding: 16px 24px 24px;
    }

    &__btn-record {
      margin-top: unset;
    }
  }
}
