@use '../../common.blocks/_container/container';
@use '../../fonts';

@media (max-width: 1450px){
    .header__div4{
        align-items: center;
    }
    .header__div4__btn{
        font-size: 20px;
        padding: 12px 20px;
    }
}

@media (max-width: 1380px){
    .head{
        width: auto;
        max-width: 1162px;
        height: 72px;
    }

    .header{
        justify-content: space-between;
        gap: 0px;
        width: unset;

        &__div1__img{
            width: 100%;
        }

        &__div2{
            width: auto;
            height: 30px;
            gap: 0px;
        }

        &__div2__btn{
            font-size: 14px;
            align-items: center;
        }

        &__div3__img{
            width: 24px;
            height: 24px;
        }

        &__div3__p{
            font-size: 18px;
            width: unset;
            padding: 8px 6px;
        }

        &__div4{
            width: 145px;
            height: 30px;
            align-items: center;
        }

        &__div4__btn{
            padding: 8px 12px;
            border-radius: 8px;
            font-size: 13px;
        }
    }
}

@media (max-width: 1280px){
    .head{
        width: auto;
        max-width: 1162px;
        height: 72px;
    }

    .header{
        justify-content: space-between;
        gap: 0px;
        width: unset;

        &__div1__img{
            width: 100%;
        }

        &__div2{
            width: auto;
            height: 30px;
            gap: 0px;
        }

        &__div2__btn{
            font-size: 14px;
            align-items: center;
        }

        &_div3__img{
            width: 24px;
            height: 24px;
        }

        &__div3__p{
            font-size: 18px;
            width: unset;
            padding: 8px 6px;
        }

        &__div4{
            width: 145px;
            height: 30px;
        }

        &__div4__btn{
            padding: 8px 12px;
            border-radius: 8px;
            font-size: 13px;
        }
    }
}


@media (max-width: 1124px){
    .header{
        &__div2__btn{
            font-size: 12px
        }

        &__div3__p{
            font-size: 14px;
        }
    }
}
