
.hero3{
    &__diploma{
        &_eff{
            width: auto;
            height: auto;
        }

        &-img{
            height: 347px;
            width: auto;

            &-slid{
                cursor: pointer;
            }
        }

        &-block{
            width: 100%;
            max-width: 1414px;
            display: flex;
            justify-content: space-between;
            transition: transform 0.5s ease;
        }

        &-mblock{
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
    }
}
