@use '../../../fonts';
@use '../../../animations.scss';

.promo{
    margin-top: 125px;
    transform: translateX(87px);
    z-index: 15;

    max-width: 392px;
    max-height: 177px;
    width: auto;
    height: auto;
    background-color: rgba(231, 161, 41, 1);
    border-radius: 16px;
    padding: 15px 30px;
    position: relative;

    &__title{
        @include fonts.Work-sans(28px, normal, 400, 120%, -0.02em);
        text-transform: uppercase;
        color: #FEFFDF;
        text-align: center;
        margin: 0px;
    }

    &__price{
        background-image: url("../../../../assets/images/border-promo/Price.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        margin-top: 6px;
    }

    &__price-value{
         @include fonts.Work-sans(48px, normal, 700, 120%, -0.1em);
        text-align: center;
        text-transform: uppercase;
        color: #FEFFDF;
        text-shadow: 0px 4px 16px rgba(255, 255, 255, 0.6);
        margin: 0px;
        @include animations.smoothPulseForText();
    }

    &__details{
        width: 320px;
        height: 118px;
        // width: auto;
        // height: auto;
        border-radius: 16px;
        padding: 10px;
        background-color: #FFFFFF;
        position: relative;
        transform-origin: 100% center;
        @include animations.smoothWobbleInvert(150px);
    }

    &__content{
        display: flex;
        align-items: center;
    }

    &__logo{
        width: 77.86px;
        height: 77.86px;
    }

    &__brand{
        @include fonts.Work-sans(16px, normal, 500, 26px, -0.02em);
        color: #2D2D2D;
        margin: 0px;
    }

    &__includes{
        background-color: rgba(231, 161, 41, 0.1);
        padding: 10px;
        border-radius: 12px;
        // gap: 10px;

        &-text{
            // @include fonts.Work-sans(16px, normal, 300, 26px, -0.02em);
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -0.02em;
            color: rgba(116, 116, 116, 1);
            margin: 0px;
        }
    }
}