@media (max-width: 1450px){
    .frag1__main-div__departments{
        top: 76px;
    }
}

@media (max-width: 1380px){
    .frag1__main-div__departments{
        top: 70px;
        transform: unset;
        justify-self: left;
    }
}

@media (max-width: 1161px){
    .frag1__main-div__departments{
        top: 69px;
    }
}

@media (max-width: 1090px){
    .frag1__main-div__departments{
        top: 68px;
    }
}