@media (max-width: 1450px){
    .frag1__main-div__departments{
        top: 92px;
    }
}

@media (max-width: 1380px){
    .frag1__main-div__departments{
        top: 86px;
        transform: unset;
        justify-self: left;
    }
}

@media (max-width: 1161px){
    .frag1__main-div__departments{
        top: 85px;
    }
}

@media (max-width: 1090px){
    .frag1__main-div__departments{
        top: 84px;
    }
}