.hero1{
    &__tooth-image{
        position: absolute;
        top: 130px;
        left: -170px;
        width: auto;
        height: auto;
        z-index: 25;
    }

    &__tooth-img{
        width: 345px;
        height: 520px;
    }
}

.animate-tooth{
    animation: smoothWobble 3s ease-in-out infinite;
}

@keyframes smoothWobble {
    0%{
        transform: rotate(0deg) translateY(0px);
    }

    50%{
        transform: rotate(-10deg) translateY(15px);
    }

    100%{
        transform: rotate(0deg) translateY(0px);
    }
}
