@use '../../../animations.scss';

.hero1{
    &__tooth-image{
        position: absolute;
        top: 130px;
        left: -170px;
        width: auto;
        height: auto;
        z-index: 25;
    }

    &__tooth-img{
        width: 345px;
        height: 520px;
    }
}

.animate-tooth{
    @include animations.smoothWobble();
}


