@media (max-width: 1600px){
    .hero2__message{
        height: 110px;
        padding: 10px;

        &_d2{
            
        }

        &_d3{
            
        }

    }
    .message{
        &__text{
            font-size: 14px;

            &_bold{
                
            }

            &_blue{
                
            }
        }

        &__decorate{
            border-left: 17.5px solid transparent;
            border-right: 17.5px solid transparent;
            border-bottom: 35px solid rgba(243, 243, 243, 1);
            right: -32px;
        }
    }

    .hero2_decorate{
        
    }
}