.reference{
    width: 899px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 16px;
    background-color: rgba(255, 175, 36, 0.15);
    position: absolute;
    bottom: 0px;
    left: calc(50% - 448px);
}