.hero5{
    &__woman-block-img{
        width: auto;
        height: auto;
        background: linear-gradient(168.93deg, #FFCC00 -147.09%, #FFFFFF 118.88%);
        border-radius: 16px;
        padding: 10px 10px 0px 10px;
    }

    &__woman-img{
        width: 197px;
        height: 338px;
    }
}
