@use '../../../animations.scss';
@media (max-width: 1068px){
    .hero1{
        &__promo{
            justify-self: center;
        }
    }
}

@media (max-width: 734px){
    .hero1{
        &__promo{
            transform: translateX(-5px);
        }
    }

}

@media (max-width: 483px){
    .promo{
        max-width: 268px;
        max-height: 90px;
        padding: 10px 15px;
        transform: translateX(23px);
        margin-top: 29px;

        &__title{
            font-size: 14px; //must 16
        }

        &__price{
            height: 63px;
            scale: 68%;
            width: 360px;
            margin-top: 0px;
            background-image: url("../../../../assets/images/border-promo/Price.png");
            transform: translateX(-90px);
        }

        &__price-value{
            font-size: 37px;
        }

        &__details{
            width: 255px;
            height: 86px;
            padding: 5px;
            border-radius: 8px;
            transform-origin: 25% center;
            @include animations.smoothWobbleInvert((-82px, -18px))
        }

        &__logo{
            width: 60px;
            height: 60px;
        }   

        &__includes{
            padding: 5px 10px;

            &-text{
                font-size: 12px;
            }
        }
        
    }
}

@media(max-width: 370px){
    .promo{
        &__details{
            transform-origin: 40% center;
            @include animations.smoothWobbleInvert((-52px, -20px))
        }

        &__includes{
            &-text{
                font-size: 12px;
            }
        }
    }
}