@use '../../../animations.scss';

.hero5{
    &__btns{
        display: flex;
        width: 100%;
        gap: 16px;
    }

    &__btn{
        width: 308px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px;
        padding: 18px 32px;
        border-radius: 16px;
        background-color: #3A7DCB;
        box-shadow: 0 12px 100px 0 #B4CFEE;
        gap: 10px;
        margin: 0px;


        & .hero5__arrow{
            display: block;
        }

        & .hero5__arrow_disabled{
            display: none;
        }

        &.disabled{
            opacity: 0.5;
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid rgba(68, 67, 80, 0.25);
            box-shadow: unset;

            & p{
                color: rgba(68, 67, 80, 0.50);
            }

            & .hero5__arrow{
                display: none;
            }

            & .hero5__arrow_disabled{
                display: block;
            }

            &:hover{
                transform: unset;
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }

    &__btn-back{
        & img{
            transform: rotate(180deg);
        }
    }
}