@media (max-width: 1600px){
    .hero2{
        &__vet{
            
        }

        &__blocks-doctors{
            width: 426px;
            height: 200px;

            &.active{
                

                .doctor-surname{
                    
                }
                .doctor-fullname{
                    
                }
                .doctor-job{
                    
                }

                }
            
            &-img{
                width: 178px;
            }
        }
}   }