@media (max-width: 1178px){
    .hero2{
        &__slider{
            max-width: 672px;
            height: 401px;
            overflow: hidden;
            position: relative;

            &-txt{
                font-size: 19px;
            }
            
        }

        &__slide{
            min-width: 672px;
        }
    }
}

@media (max-width: 700px){
    .hero2{
        &__slider{
            // padding: 0px 16px 0px 16px;
            max-width: 100vw;
            max-height: 606px;
            height: 70vh;
        

            &-text{
                border-radius: 16px;
            }

            &-txt{
                font-size: 16px;
            }
        }

        &__slide{
            max-width: 361px;
            min-width: 100%;
            width: 100%;

            &_padding{
                min-width: 100%;
                border-left: 16px solid white;
                border-right: 16px solid white;
            }
        }
        
    }
    
}