.hero6{
    &__name-block{
        width: 342px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    &_grey-text{
        color: #2d2d2d;
    }

    &__title-doctor{
        padding-bottom: 32px;
    }
}