.hero11{
    &__img{
        background-image: url("../../../../assets/images/hero11-img.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        width: 646px;
        height: 434px;
    }
}

@media (max-width: 1024px) {
    .hero11{
        &__img{
            width: 451px;
            height: 340px;
        }
    }
}

@media (max-width: 836px) {
    .hero11{
        &__img{
            width: 361px;
            height: 340px;
        }
    }
}