@use '../../../fonts';

.hero1{
    &__button{
        width: 100%;
        height: auto;
        padding: 18px 0px;
        background: rgba(54, 122, 202, 1);
        box-shadow: 0px 12px 100px #B4CFEE;
        box-shadow: 0px 12px 100px 0px rgba(180, 207, 238, 1);
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        border: 0px;
        margin-top: 19.5px;

        transition: all 0s ease;

        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        outline: none;

           transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    

        &:hover{
            background: rgba(55, 146, 253, 1);
            transform: translate(0, -0.25rem);
        }
        
        &:active{
            transform: scale(90%);
        }
    }

}

.button{
    &__icon{
        width: 24px;
        height: 24px;
    }

    &__text{
        @include fonts.Work-sans(24px, normal, 600, 100%, -0.5px);
        text-align: right;
        color: #FFFFFF;
    }
}