@media (max-width: 1450px){
    .hero1{
        &__tooth-image{
            top: 139px;
            left: -141px;
        }

        &__tooth-img{
            width: 288px;
            height: 434px;
        }
    }
}